{
    "presets": [
        [
            "env",
            {
                "exclude": [
                    "transform-es2015-typeof-symbol"
                ]
            }
        ],
        "stage-0",
        "react"
    ]
}